body {
    background-image: linear-gradient(to right, #670d10 , #092756);
}

.btn {
    background-color: #23cdaf;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
    left: 43.5%;
    width: 15%;
    border-radius: 15px;
}
  
.btn1 {
    background-color: #23cdaf;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    left: 46%;
    width: 10%;
    border-radius: 15px;
}
    
.p1{
    position: absolute;
    top: 30%;
    width: 100%;
    transform: translateY(-50%);
    left: 37%;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-family: system-ui;
}
    
.p2{
    position: absolute;
    top: 40.5%;
    width: 100%;
    transform: translateY(-50%);
    left: 35%;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-family: system-ui;
}
    
    
